# macOS
.DS_Store

# Xcode
build/
*.pbxuser
xcuserdata/
DerivedData/

# Firebase
GoogleService-Info.plist


# CocoaPods
Pods/
Podfile.lock

Secrets.xcconfig
Secrets.swift
Secrets.xcconfig
Habit Forge/Secrets.swift
Secrets.xcconfig
Secrets.xxconfig
