# macOS
.DS_Store

# Xcode
build/
*.pbxuser
xcuserdata/
DerivedData/

# Firebase
GoogleService-Info.plist
Habit Forge/Secrets.swift

# CocoaPods
Pods/
Podfile.lock
Habit Forge/Secrets.swift
Secrets.xcconfig
Secrets.swift
Secrets.xcconfig
Habit Forge/Secrets.swift
Secrets.xcconfig
Secrets.xxconfig
